
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }
  body {
    
    
   background: #ffffb3;
  
    
  }
  


  button {
    display: block;
    background-color: #C7EAE4;
    color:"#000000";
    cursor: pointer;
    outline: none;
    border: none;
    width: 400px;
    height: 70px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    background-size: 100% 100%;
    box-shadow: 0 0 0 2px var(--dark) inset;
    margin-bottom: 15px;
  }
  
  

  .container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto auto;
    grid-template-areas: 
          "s s b b b b b b b b t t"
          "g g g g g g g g g g g g"
          "f f f f f f f f f f f f";
  }
  
  .score {
    grid-area: s;
  }
  
  .bar {
    grid-area: b;
  }
  
  .timer {
    grid-area: t;
  }
  
  .game {
    grid-area: g;
  }

  .container2 {
    display: grid;
    height:100%;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
          "i i i i i i i i i i i i"
          "a a a a a a b b b b b b"
          "c c c c c c d d d d d d";
  }
  
  .flag{
    grid-area: i;
  }
  
  .button1{
    grid-area: a;
  }
  
  .button2{
    grid-area: b;
  }
  
  .button3{
    grid-area: c;
  }
  
  .button4{
    grid-area: d;
  }

  .container2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}